$p2_g2: sprite-map("p2/g2/*.png", $spacing: 8px, $layout: smart);

$bigWidth: 288px;
$bigHeight: 267px;

@function px2rem ($px) {
	@if (type-of($px) == "number") {
		@return $px / 100px * 1rem;
	}

	@if (type-of($px) == "list") {
  		@if (nth($px, 1) == 0 and nth($px, 2) != 0) {
    		@return 0 nth($px, 2) / 100px * 1rem;
  		} @else if (nth($px, 1) == 0 and nth($px, 2) == 0)  {
    		@return 0 0;
  		} @else if (nth($px, 1) != 0 and nth($px, 2) == 0) {
    		@return nth($px, 1) / 100px * 1rem 0;
  		} @else {
    		@return nth($px, 1) / 100px *1rem nth($px, 2) / 100px * 1rem;
  		}
	}
}
@function toLeft ($width) {
	@return (6.40rem - $width ) / 2;
}

@mixin sprite-info1 ($icons) {
	background-image: sprite-url($icons);
}
@mixin sprite-info2 ($icons, $name) {
	width: px2rem(image-width(sprite-file($icons, $name)));
	height: px2rem(image-height(sprite-file($icons, $name)));
	background-position: px2rem(sprite-position($icons, $name));
	background-size: px2rem(($bigWidth, $bigHeight));
	left: toLeft(px2rem(image-width(sprite-file($icons, $name))));
}
@mixin cLeft ($icons, $name) {
	left: toLeft(px2rem(image-width(sprite-file($icons, $name))));
}

.p2_zhi1, .p2_zhi2, .p2_zhi3, .p2_zhi4, .p2_zhi5, .p2_sight2_2, .p2_sight2_3, .p2_sight2_4{
	@include sprite-info1($p2_g2);
}
.p2_zhi1 {
	@include sprite-info2($p2_g2, p2_zhi1);
}
.p2_zhi2 {
	@include sprite-info2($p2_g2, p2_zhi2);
}
.p2_zhi3 {
	@include sprite-info2($p2_g2, p2_zhi3);
}
.p2_zhi4 {
	@include sprite-info2($p2_g2, p2_zhi4);
}
.p2_zhi5 {
	@include sprite-info2($p2_g2, p2_zhi5);
}
.p2_sight2_2 {
	@include sprite-info2($p2_g2, p2_sight2_2);
}
.p2_sight2_3 {
	@include sprite-info2($p2_g2, p2_sight2_3);
	@include cLeft($p2_g2, p2_sight2_3);
}
.p2_sight2_4 {
	@include sprite-info2($p2_g2, p2_sight2_4);
	@include cLeft($p2_g2, p2_sight2_3);
}

