$p6_g1: sprite-map("p6/g1/*.png", $spacing: 8px, $layout: smart);

$bigWidth: 544px;
$bigHeight: 527px;

@function px2rem ($px) {
	@if (type-of($px) == "number") {
		@return $px / 100px * 1rem;
	}

	@if (type-of($px) == "list") {
  		@if (nth($px, 1) == 0 and nth($px, 2) != 0) {
    		@return 0 nth($px, 2) / 100px * 1rem;
  		} @else if (nth($px, 1) == 0 and nth($px, 2) == 0)  {
    		@return 0 0;
  		} @else if (nth($px, 1) != 0 and nth($px, 2) == 0) {
    		@return nth($px, 1) / 100px * 1rem 0;
  		} @else {
    		@return nth($px, 1) / 100px *1rem nth($px, 2) / 100px * 1rem;
  		}
	}
}
@function toLeft ($width) {
	@return (6.40rem - $width ) / 2;
}

@mixin sprite-info1 ($icons) {
	background-image: sprite-url($icons);
}
@mixin sprite-info2 ($icons, $name) {
	width: px2rem(image-width(sprite-file($icons, $name)));
	height: px2rem(image-height(sprite-file($icons, $name)));
	background-position: px2rem(sprite-position($icons, $name));
	background-size: px2rem(($bigWidth, $bigHeight));
}
@mixin cLeft ($icons, $name) {
	left: toLeft(px2rem(image-width(sprite-file($icons, $name))));
}

.p6_text1, .p6_text2, .p6_thxPic {
	@include sprite-info1($p6_g1);
}
.p6_text1 {
	@include sprite-info2($p6_g1, p6_text1);
}
.p6_text2 {
	@include sprite-info2($p6_g1, p6_text2);
}
.p6_thxPic {
	@include sprite-info2($p6_g1, p6_thxPic);
}