.p1_star1, .p1_star2, .p1_star3, .p1_star4, .p1_star5, .p1_star6, .p1_star7, .p1_star8, .p1_star9, .p1_star10, .p1_star11, .p1_star12, .p1_star13, .p1_star14, .p1_star15, .p1_star16, .p1_star17, .p1_star18, .p1_star19, .p1_star20, .p1_star21, .p1_star22, .p1_star23 {
  background-image: url('../image/p1/g1-s72b16aee1b.png');
}

.p1_star1 {
  width: 0.29rem;
  height: 0.34rem;
  background-position: 0 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star2 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -3.61rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star3 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -5.58rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star4 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -5.91rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star5 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -6.24rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star6 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -6.57rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star7 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -6.9rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star8 {
  width: 0.19rem;
  height: 0.21rem;
  background-position: -7.23rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star9 {
  width: 0.19rem;
  height: 0.21rem;
  background-position: -7.5rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star10 {
  width: 0.19rem;
  height: 0.21rem;
  background-position: -0.37rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star11 {
  width: 0.19rem;
  height: 0.21rem;
  background-position: -0.64rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star12 {
  width: 0.19rem;
  height: 0.21rem;
  background-position: -0.91rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star13 {
  width: 0.19rem;
  height: 0.21rem;
  background-position: -1.18rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star14 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -1.45rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star15 {
  width: 0.25rem;
  height: 0.27rem;
  background-position: -1.78rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star16 {
  width: 0.32rem;
  height: 0.35rem;
  background-position: -2.11rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star17 {
  width: 0.27rem;
  height: 0.29rem;
  background-position: -2.51rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star18 {
  width: 0.27rem;
  height: 0.29rem;
  background-position: -2.86rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star19 {
  width: 0.32rem;
  height: 0.35rem;
  background-position: -3.21rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star20 {
  width: 0.37rem;
  height: 0.41rem;
  background-position: -3.94rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star21 {
  width: 0.37rem;
  height: 0.41rem;
  background-position: -4.39rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star22 {
  width: 0.29rem;
  height: 0.32rem;
  background-position: -4.84rem 0;
  background-size: 7.77rem 0.41rem;
}

.p1_star23 {
  width: 0.29rem;
  height: 0.32rem;
  background-position: -5.21rem 0;
  background-size: 7.77rem 0.41rem;
}
